.App {
  text-align: center;
}
* {
  background-color: beige;
}
h1 {
  text-decoration: underline;
  padding-bottom: 20px;
}

#map {
  width: 500px;
  height: 600px;
  margin: 20px auto;
  float: none;
  border:2px solid darkblue;
  background-color: lightblue;
}

#mapImg {
  padding:none;
  margin:none;
}

.cardText {
  padding: none;
  margin: none;
}

#formInput {
  width:400px;
  margin:20px auto;
}
.cardTitle {
  text-align: center;

}
