
.App {
  text-align: center;
}
* {
  background-color: beige;
}
h1 {
  text-decoration: underline;
  padding-bottom: 20px;
}

#map {
  width: 500px;
  height: 600px;
  margin: 20px auto;
  float: none;
  border:2px solid darkblue;
  background-color: lightblue;
}

#mapImg {
  padding:none;
  margin:none;
}

.cardText {
  padding: none;
  margin: none;
}

#formInput {
  width:400px;
  margin:20px auto;
}

#movieContainer {
  height:300px;
}
.cardTitle {
  text-align: center;

}

.card {
  height:400px;
  width:400px;
  background-color: lightblue;
}

#cardImg {
  height:15rem;
  width:15rem;
}

#carousel {
  height:300px;
  display: flex;
}

.movieTitle {
  font-size: 2rem;
  text-decoration: underline;
}

.movieDescription {

}

.movieText {
  display: block;
  text-align: center;
}
